/* @font-face {
	font-family: 'SamsungSansBold';
	src: url('../fonts/SamsungSans-Bold.ttf') format('truetype');

    font-stretch: normal;
    font-weight: normal;
    font-style: normal
}  

@font-face {
	font-family: 'SamsungSansMedium';
	src: url('../fonts/SamsungSans-Medium.ttf') format('truetype');

    font-stretch: normal;
    font-weight: normal;
    font-style: normal;
}  
 */

 @font-face {
    font-family: 'SamsungSansMedium';
    src: url('../fonts/SamsungOne-400.woff') format('woff2'),
        url('../font/SamsungOne-400.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SamsungSansBold';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Bold'), url('../fonts/samsungsharpsans-bold.woff') format('woff');
}

.title-XS{
    color: #FFF;
    text-align: center;
    font-family: 'SamsungSansBold', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 120%; /* 21.6px */
}

.title-M{
    color: #FFF;
    font-family: 'SamsungSansMedium', sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 160%; /* 51.2px */
}
.title-L{
    color: #FFF;
    font-family: 'SamsungSansBold', sans-serif;
    font-size: 54px;
    font-weight: normal;
    line-height: 130%; /* 70.2px */
    margin: 24px 0px;
}

.title-XL{
    color: #FFF;
    font-family: 'SamsungSansBold', sans-serif;
    font-size: 72px;
    font-weight: normal;
    line-height: 130%; /* 93.6px */
}

.body-S{
    color: #000;
    font-family: 'SamsungSansMedium', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 160%; /* 24px */
    margin-bottom: 24px;

}

.body-M{
    color: #FFF;
    font-family: 'SamsungSansMedium', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 160%; /* 25.6px */
    
}

.body-L{
    color: #FFF;
    font-family: 'SamsungSansMedium', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    line-height: 160%; /* 41.6px */
    margin-bottom: 24px;
}

.dark{
    color: #000;
}

.light{
    color: #FFF;
}

