
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../img/christmas-bg.png");
    background-size: 100vh 100%;
    background-repeat: no-repeat;
    padding-top: 70px;
    margin-bottom: 6vw;

    &.gamer {
        background-color: #000;
    }
    &.sportif {
        background-color: #EBF98D;
    }
    &.esthete {
        background-color: #EAEFEF;
    }
    &.epicurien {
        background-color: #00F294;
    }
    .hero-section {
        flex: 1;
        margin: 0px 6.25vw;
    }
    .hero-image{
        width: 50%;
        height: auto;
    }
    
}

.products{
    display: flex;
    align-items: center;
    justify-content: space-between; /* ? */
    margin-bottom: 6vw;

    .item-content {
        flex: 1;
        background-color: #fff;
        margin-right: 12.5vw;
        margin-left: 6.25vw;
        width: 37.5vw;
    } 
    .section-image{
        display: block;
        height: auto;
        width: 37.5vw;
        margin-left: 6.25vw;
    }

}

@media screen and (max-width : 880px) {
    .hero {
        flex-direction: column;
        .hero-image {
            width: 80%;
        }
    }
    .products{
        flex-direction: column-reverse;

        .section-image {
            width: 80%;            
            margin-left: 0px;
            margin-bottom: 6vw;
        }
        .item-content {
            width: auto;
            margin-right: 6.25vw
        }
    }
    .hero-page .hero-container{
        padding: 30vw 12.5vw 0px 6.25vw
    }
}