.samsungBtn {
    width: auto;
    font-family: 'SamsungSansMedium', sans-serif;
    height: 42px;
    padding: 8px 28px;
    border-radius: 24px;
    font-size: 14px;
    margin-bottom: 24px;
    cursor: pointer;



    &.btn-light{
        background-color: #ffffff;
        color: #000000;   

        &.variant-border{
            width: auto;
            border: 1px solid #000000;
        } 
    }

    &.btn-dark{
        background-color: #000000;
        color: #ffffff;
    }
}
